{% extends 'base.html' %}
{% block title %}Список книг{% endblock %}
{% block content %}
<h1>Список книг</h1>
{% for book in books %}
    <div style="border: 1px solid #FF69B4; padding: 10px; margin-bottom: 10px; background-color: #fff;">
        <h2 style="color: #FF69B4;">{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <a href="{% url 'add_to_cart' book.id %}" style="color: #FF69B4; text-decoration: none; margin-right: 10px;">Положить в корзину</a>
        {% if is_admin %}
            <a href="{% url 'book_update' book.id %}">Edit</a>
            <a href="{% url 'book_delete' book.id %}">Delete</a>
        {% endif %}
    </div>
{% endfor %}
<div class="pagination" style="margin-top: 20px;">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page=1">« first</a>
            <a href="?page={{ books.previous_page_number }}" style="margin: 0 5px;">previous</a>
        {% endif %}
        <span class="current" style="font-weight: bold;">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>
        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}" style="margin: 0 5px;">next</a>
            <a href="?page={{ books.paginator.num_pages }}">last »</a>
        {% endif %}
    </span>
</div>
{% endblock %}