{% extends 'base.html' %}
{% load static %}
{% block title %}Список книг{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Список книг</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-3">
                <div class="card" style="border: 1px solid #FF69B4;">
                    <div class="card-body">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <p class="card-text">Автор: {{ book.author }}</p>
                        <p class="card-text">Цена: {{ book.price }} руб.</p>
                        <a href="{% url 'add_to_cart' book.id %}" class="btn btn-custom">Положить в корзину</a>
                        {% if is_admin %}
                            <a href="{% url 'book_update' book.id %}" class="btn btn-custom">Редактировать</a>
                            <a href="{% url 'book_delete' book.id %}" class="btn btn-custom">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if books.has_other_pages %}
        <nav aria-label="Навигация по страницам" style="margin-top: 20px;">
            <ul class="pagination">
                {% if books.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">« Первая</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">Предыдущая</a></li>
                {% endif %}
                <li class="page-item disabled"><span class="page-link">Страница {{ books.number }} из {{ books.paginator.num_pages }}</span></li>
                {% if books.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">Следующая</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ books.paginator.num_pages }}">Последняя »</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}